<div class="card product-card">
    <div class="card-header">
        До окончания акции: <span>7</span> дней
    </div>

    <div class="card-involved"><i class="fas fa-check"></i> Участвуют: <span>56</span></div>

    <a class="card-image-link" href="#">
        <img src="img/20393_big.jpg" class="card-img-top" alt="">
        <div class="card-label"><span>-25%</span><span>от оптовой<br>цены</span></div>    
    </a>

    <div class="card-body">
        <h5 class="card-title">Икра "ЕКО" из кабачков, 12 шт по 0,48 кг</h5>
        <div class="card-text">
            Минимальная партия: 12 шт (0.96 кг)
        </div>
    </div>
    <div class="card-footer">
        <div class="card-price">
            <div class="old-price">
                <span>32,60 <i class="fas fa-ruble-sign"></i></span><span>/1 шт.</span>
            </div>
            <div class="new-price">
                <span>32,30 <i class="fas fa-ruble-sign"></i></span><span>/1 шт.</span>
            </div>
        </div>        
        <button class="btn btn-primary w-100 my-2">Подробнее</button>
        <div class="note">
            * количество товаров ограничено
        </div>
    </div>
</div>