<div class="card product-card-new">
    <div class="card-header">
        Экономия 483 р. <span class="badge badge-primary" data-toggle="tooltip" data-placement="bottom" title="Мы постоянно мониторим цены и отвечаем за выгоду">?</span>   
    </div>
    <a class="card-image-link" href="#">
        <img src="img/20393_big.jpg" class="card-img-top" alt="">
        <div class="card-label-top"><span>-25%</span></div>    
        <div class="card-label-bottom"><span>Продается поштучно</span></div>
    </a>

    <div class="card-body">
        <h5 class="card-title">Икра "ЕКО" из кабачков, 12 шт по 0,48 кг</h5>
        <div class="card-text">
            Минимальная партия: 12 шт (0.96 кг)
        </div>
    </div>
    <div class="card-footer">
        <div class="card-price">
            <div class="old-price mr-2">
                <span>32,60 &#8381;</span>
            </div>
            <div class="new-price">
                <span>32,30 &#8381;</span><span> / 1 шт.</span>
            </div>
        </div>        
        <button class="btn btn-primary-inverse w-100 my-2 font-weight-bold">В корзину</button>
    </div>
</div>