<footer id="footer">
    <div class="container">
        <div class="row py-4">
            <div class="col-12 py-4">
                <a href="/" class="d-block">
                    <img class="img-fluid" src="img/logo.png" alt="">
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Поставщики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Производители</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Доставка и оплата</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Как сделать заказ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Поставщикам и производителям</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-md-4">

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="tel:84952151036">8 (495) 215-10-36</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">С 9:00 до 18:00 по будням</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">Email:
                            <a href="mailto:ilove@otkorobki.ru">ilove@otkorobki.ru</a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">
                            <a data-toggle="modal" data-target="#exampleModal" href="#">Обратная связь</a>
                        </span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row justify-content-between py-4 border-top">
            <div class="col-auto">
                <ul class="nav bottom-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Договор-Оферта</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Пользовательское соглашение</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Политика конфиденциальности</a>
                    </li>
                </ul>
            </div>

            <div class="col-auto">
                <div class="social-block">
                    <a href="https://web.facebook.com/otkorobki.ru/" target="_blank" class="fab fa-facebook"></a>
                    <a href="https://vk.com/club55825384" target="_blank" class="fab fa-vk"></a>
                </div>
            </div>
        </div>
    </div>

</footer>

<div class="sticky-bottom d-md-none border-top">
    <div class="container">
        <div class="row justify-content-between align-items-center my-3">
            <div class="col-auto">
                <a href="#" class="cart-mini">
                    <div class="num-goods">13</div>
                    <img src="img/shoppingcart-mini.png" alt="Корзина">
                </a>
            </div>
            <div class="col-auto">
                <a href="#" class="favorite-mini">
                    <div class="num-goods">13</div>
                    <img src="img/heart-mini.png" alt="Избранное">
                </a>
            </div>
            <div class="col-auto">
                <a href="#" class="catalog-mini toggle-button-bottom"><img src="img/menu-mini.png" alt="Каталог"></a>
            </div>
            <div class="col-auto">
                <a href="#" class="profile-mini"><img src="img/profile-mini.png" alt="Профиль"></a>
            </div>
        </div>
    </div>
</div>
<!-- 
добавить в scripy js
document.querySelector('.toggle-button-bottom').addEventListener('click', function() {
    slideout.toggle();
}); -->