<div class="top-menu-line">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-lg-1">
                <div class="region-change">
                    <a class="text-nowrap" data-toggle="modal" data-target="#modal-region" href="#"><i class="fas fa-map-marker-alt"></i> Москва</a>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-9">
                <ul class="nav d-flex justify-content-center align-items-center" id="top-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Доставка и оплата</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Как сделать заказ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Поставщикам и производителям</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#modal-registration">Вход | Регистрация</a>
                        <!-- <span class="nav-link">
                            <a href="#" data-toggle="modal" data-target="#modal-registration">Вход</a> |
                            <a href="#" data-toggle="modal" data-target="#modal-registration">Регистрация</a>
                        </span> -->
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 text-right">
                <a class="phone-top" href="tel:84952151036">8 (495) 215-10-36</a>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center my-4">
        <div class="col-12 col-md-6 col-lg-3 order-1 order-lg-1">
            <a href="/" class="d-block">
                <img class="img-fluid" src="img/logo.png" alt="">
            </a>
        </div>
        <div class="d-none d-md-block col-md-12 col-lg-6 order-3 order-lg-2">
            <form action="">
                <div class="input-group mt-4 mt-lg-0">
                    <input type="text" class="form-control" id="search" placeholder="Поиск"
                        aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-none d-md-block col-sm-6 col-lg-3 order-2 order-lg-3 text-center text-sm-right">
            <a href="#" data-toggle="modal" data-target="#modal-registration" class="btn btn-user"><i class="fas fa-user"></i></a>
            <button class="btn btn-cart" data-toggle="modal" data-target="#modal-cart"><i class="fas fa-shopping-cart"></i> Корзина</button>
        </div>
    </div>   
</div>
<div class="main-menu-line py-2" data-toggle="sticky-onscroll">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-between justify-content-md-start align-items-center">
                    <div class="col-12" id="content-width"></div>
                    <div class="col-auto">

                        <button class="btn btn-catalog nav-link toggle-button d-lg-none"><i class="fas fa-bars"></i> Меню</button>

                        <div class="dropdown">
                            <a class="btn btn-catalog nav-link dropdown-toggle d-none d-lg-block" href="#" role="button"
                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><i class="fas fa-bars"></i> Каталог <span class="d-none d-sm-inline">товаров</span></a>
                            
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Кондитерские изделия</a></li>
                                <li><a class="dropdown-item" href="#">Бакалея</a></li>
                                <li><a class="dropdown-item" href="#">Чай, кофе, какао</a></li>
                                <li><a class="dropdown-item" href="#">Вода, напитки, соки</a></li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">Консервация</a>
                                    <div class="dropdown-menu p-3">
                                        <div class="mega-menu h-100">
                                            <div class="row h-100">
                                                <div class="col-4 d-flex flex-column justify-content-between">
                                                    <div class="mega-menu-items">
                                                        <a href="#">Готовые блюда</a>
                                                        <a href="#">Мед</a>
                                                        <a href="#">Молочные консервы</a>
                                                        <a href="#">Мясные консервы</a>
                                                        <a href="#">Овощные консервы</a>
                                                        <a href="#">Плодово-ягодные консервы</a>
                                                        <a href="#">Рыбные консервы</a>
                                                        <a href="#">Готовые блюда</a>
                                                        <a href="#">Мед</a>
                                                        <a href="#">Молочные консервы</a>
                                                    </div>
                                                    <a class="d-block text-center" href="#" class="more-category">Все подкатегории</a>
                                                </div>
                                                <div class="col-4 d-flex flex-column justify-content-between border-left">
                                                    <div class="mega-menu-brands">
                                                        <a href="#">ITLV</a>
                                                        <a href="#">Lorado</a>
                                                        <a href="#">Coopoliva</a>
                                                        <a href="#">ЕКО</a>
                                                        <a href="#">St. Dalfour</a>
                                                        <a href="#">Solvita</a>
                                                        <a href="#">Корзина</a>
                                                        <a href="#">Донская Кухня</a>
                                                        <a href="#">Noyan</a>
                                                    </div>
                                                    <a class="d-block text-center" href="#" class="more-category">Все бренды</a>
                                                </div>
                                                <div class="col-4">
                                                    <div class="card product-card-new">
                                                        <div class="card-header">
                                                            Экономия 483 р. <span class="badge badge-primary" data-toggle="tooltip" data-placement="bottom" title="Мы постоянно мониторим цены и отвечаем за выгоду">?</span>   
                                                        </div>
                                                        <a class="card-image-link" href="#">
                                                            <img src="img/20393_big.jpg" class="card-img-top" alt="">
                                                            <div class="card-label-top"><span>-25%</span></div>    
                                                            <div class="card-label-bottom"><span>Продается поштучно</span></div>
                                                        </a>
                                                    
                                                        <div class="card-body">
                                                            <h5 class="card-title">Икра "ЕКО" из кабачков, 12 шт по 0,48 кг</h5>
                                                            <div class="card-text">
                                                                Минимальная партия: 12 шт (0.96 кг)
                                                            </div>
                                                        </div>
                                                        <div class="card-footer">
                                                            <div class="card-price">
                                                                <div class="old-price mr-2">
                                                                    <span>32,60 &#8381;</span>
                                                                </div>
                                                                <div class="new-price">
                                                                    <span>32,30 &#8381;</span><span> / 1 шт.</span>
                                                                </div>
                                                            </div>        
                                                            <button class="btn btn-primary-inverse w-100 my-2 font-weight-bold">В корзину</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                
                                        </div>
                                    </div>                                               
                                </li>

                                <li><a class="dropdown-item" href="#">Товары для животных</a></li>
                                <li><a class="dropdown-item" href="#">Молочные продукты, сыры, яйцо</a></li>
                                <li><a class="dropdown-item" href="#">Мясо, птица, рыба, гастрономия</a></li>
                                <li><a class="dropdown-item" href="#">Замороженные продукты</a></li>
                                <li><a class="dropdown-item" href="#">Детское питание и товары для детей</a></li>
                                <li><a class="dropdown-item" href="#">Овощи, фрукты, зелень</a></li>
                                <li><a class="dropdown-item" href="#">Бытовая химия, товары для дома, красоты и здоровья</a></li>
                            </ul>
                        </div>
<!--                         
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="catalog-menu">
                            <a class="dropdown-item" href="#">Кондитерские изделия</a>
                            <a class="dropdown-item" href="#">Бакалея</a>
                            <a class="dropdown-item" href="#">Чай, кофе, какао</a>
                            <a class="dropdown-item" href="#">Вода, напитки, соки</a>
                            <a class="dropdown-item" href="#">Консервация</a>
                            <a class="dropdown-item" href="#">Товары для животных</a>
                            <a class="dropdown-item" href="#">Молочные продукты, сыры, яйцо</a>
                            <a class="dropdown-item" href="#">Мясо, птица, рыба, гастрономия</a>
                            <a class="dropdown-item" href="#">Замороженные продукты</a>
                            <a class="dropdown-item" href="#">Детское питание и товары для детей</a>
                            <a class="dropdown-item" href="#">Овощи, фрукты, зелень</a>
                            <a class="dropdown-item" href="#">Бытовая химия, товары для дома, красоты и здоровья</a>
                        </div>
 -->
                    </div>
                    <div class="col-auto d-none d-md-block">
                        <ul class="nav" id="main-menu">
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Лучшие предложения</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Новинки</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="percent">%</span> Акции</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-auto d-none d-md-block">
                        <button class="btn btn-secondary text-capitalize"><i class="far fa-gem"></i> Акции Premium</button>
                    </div>
                    <div class="col-auto d-md-none text-right">
                        <a data-toggle="collapse" href="#collapseSearch" aria-expanded="false"
                            aria-controls="collapseSearch" class="btn btn-search-collapse"><i
                                class="fas fa-search"></i></a>
                        <a href="#" data-toggle="modal" data-target="#modal-registration" class="btn btn-user"><i class="fas fa-user"></i></a>
                        <button class="btn btn-cart" data-toggle="modal" data-target="#modal-cart"><i class="fas fa-shopping-cart"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-12 collapse py-4" id="collapseSearch">
                <form class="" action="">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search-mobile" placeholder="Поиск"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-search" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>  


