<div class="card mini-product-card">
    <a href="#"><img src="img/13376_middle.jpg" class="card-img-top" alt="Икра 'ЕКО' из кабачков, 12 шт по 0,48 кг"></a>
    <div class="card-body">
        <h5 class="card-title">Икра "ЕКО" из кабачков, 12 шт по 0,48 кг</h5>
    </div>
    <div class="card-footer">
        <div class="card-price">
            <div class="price-item">
                <span>32,30 &#8381;</span><span>/1 шт.</span>
            </div>            
            <div class="price-box">
                <span>32,60 &#8381;</span><span>/100 шт.</span>
            </div>
        </div>
        <button class="btn btn-primary mt-2 w-100">В корзину</button>
    </div>
</div>