<div class="modal fade" id="modal-cart" tabindex="-1" role="dialog" aria-labelledby="modal-cart" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="d-inline-block modal-title" id="exampleModalLabel">Корзина <span>2 заказа, 3 товара</span></h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row align-items-center order-block">
                    <div class="col-12 col-lg-6 my-4">
                        <h1 class="d-inline-block cart-title">Заказ №1</h1>
                        <span class="delivery-block mb-2">
                            <span>
                                <i class="fas fa-truck"></i> Доставка</span>
                            <span>
                                <i class="fas fa-map-marker-alt"></i> Самовывоз</span>
                        </span>
                        <div class="cart-provis">Поставщик "Мясоперерабатывающий холдинг Арго"</div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-8 mb-4">
                                <span class="font-weight-bold">Итого: 2 товара на сумму:
                                    <span class="cart-total-price">2800 <i class="fas fa-ruble-sign"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="col-12 col-sm-4">
                                <button class="btn btn-buy">Оформить</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <!-- repeat block -->
                        <div class="row align-items-center py-4 order-item">
                            <div class="col-4 col-lg-2 mb-2">
                                <a href="#">
                                    <img src="img/13376_middle.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-8 col-lg-3 mb-2">
                                <h3>Шоколад Аленка 200 гр, 12 шт.</h3>
                                <div class="item-name">Производитель: Красный Октябрь</div>
                                <div class="item-pack">Упаковка: 100 гр. x 12 шт. (1,2 кг)</div>
                            </div>
                            <div class="col-12 col-lg-2 mb-2">
                                <div class="item-unit-price">200 <i class="fas fa-ruble-sign"></i> <span>/ 12 шт.</span>
                                </div>
                            </div>
                            <div class="col-5 col-lg-2 mb-2">
                                <div class="h-100 d-flex align-items-center justify-content-center quantity-block">
                                    <div class="quantity-minus">
                                        <img src="img/minus.png" alt="">
                                    </div>
                                    <input type="text" value="1">
                                    <div class="quantity-plus">
                                        <img src="img/plus.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-lg-2 mb-2">
                                <div class="item-total-price">1280,00 <i class="fas fa-ruble-sign"></i>
                                </div>
                            </div>
                            <div class="col-2 col-lg-1 mb-2">
                                <button class="btn">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>

                        </div>
                        <!-- end repeat block -->
                        <!-- repeat block -->
                        <div class="row align-items-center py-4 order-item">
                            <div class="col-4 col-lg-2 mb-2">
                                <a href="#">
                                    <img src="img/13376_middle.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-8 col-lg-3 mb-2">
                                <h3>Шоколад Аленка 200 гр, 12 шт.</h3>
                                <div class="item-name">Производитель: Красный Октябрь</div>
                                <div class="item-pack">Упаковка: 100 гр. x 12 шт. (1,2 кг)</div>
                            </div>
                            <div class="col-12 col-lg-2 mb-2">
                                <div class="item-unit-price">200 <i class="fas fa-ruble-sign"></i> <span>/ 12 шт.</span>
                                </div>
                            </div>
                            <div class="col-5 col-lg-2 mb-2">
                                <div class="h-100 d-flex align-items-center justify-content-center quantity-block">
                                    <div class="quantity-minus">
                                        <img src="img/minus.png" alt="">
                                    </div>
                                    <input type="text" value="1">
                                    <div class="quantity-plus">
                                        <img src="img/plus.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-lg-2 mb-2">
                                <div class="item-total-price">1280,00 <i class="fas fa-ruble-sign"></i>
                                </div>
                            </div>
                            <div class="col-2 col-lg-1 mb-2">
                                <button class="btn">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>

                        </div>
                        <!-- end repeat block -->


                    </div>

                </div>

                <div class="row align-items-center order-block">
                    <div class="col-12 col-lg-6 my-4">
                        <h1 class="d-inline-block cart-title">Заказ №2</h1>
                        <span class="delivery-block mb-2">
                            <span>
                                <i class="fas fa-truck"></i> Доставка</span>
                            <span>
                                <i class="fas fa-map-marker-alt"></i> Самовывоз</span>
                        </span>
                        <div class="cart-provis">Поставщик "Мясоперерабатывающий холдинг Арго"</div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-8 mb-4">
                                <span class="font-weight-bold">Итого: 2 товара на сумму:
                                    <span class="cart-total-price">2800
                                        <i class="fas fa-ruble-sign"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="col-12 col-sm-4">
                                <button class="btn btn-buy">Оформить</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <!-- repeat block -->
                        <div class="row align-items-center py-4 order-item">
                            <div class="col-4 col-lg-2 mb-2">
                                <a href="#">
                                    <img src="img/13376_middle.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-8 col-lg-3 mb-2">
                                <h3>Шоколад Аленка 200 гр, 12 шт.</h3>
                                <div class="item-name">Производитель: Красный Октябрь</div>
                                <div class="item-pack">Упаковка: 100 гр. x 12 шт. (1,2 кг)</div>
                            </div>
                            <div class="col-12 col-lg-2 mb-2">
                                <div class="item-unit-price">200 <i class="fas fa-ruble-sign"></i> <span>/ 12 шт.</span>
                                </div>
                            </div>
                            <div class="col-5 col-lg-2 mb-2">
                                <div class="h-100 d-flex align-items-center justify-content-center quantity-block">
                                    <div class="quantity-minus">
                                        <img src="img/minus.png" alt="">
                                    </div>
                                    <input type="text" value="1">
                                    <div class="quantity-plus">
                                        <img src="img/plus.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-lg-2 mb-2">
                                <div class="item-total-price">1280,00 <i class="fas fa-ruble-sign"></i>
                                </div>
                            </div>
                            <div class="col-2 col-lg-1 mb-2">
                                <button class="btn">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>

                        </div>
                        <!-- end repeat block -->
                        <!-- repeat block -->
                        <div class="row align-items-center py-4 order-item">
                            <div class="col-4 col-lg-2 mb-2">
                                <a href="#">
                                    <img src="img/13376_middle.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-8 col-lg-3 mb-2">
                                <h3>Шоколад Аленка 200 гр, 12 шт.</h3>
                                <div class="item-name">Производитель: Красный Октябрь</div>
                                <div class="item-pack">Упаковка: 100 гр. x 12 шт. (1,2 кг)</div>
                            </div>
                            <div class="col-12 col-lg-2 mb-2">
                                <div class="item-unit-price">200 <i class="fas fa-ruble-sign"></i> <span>/ 12 шт.</span>
                                </div>
                            </div>
                            <div class="col-5 col-lg-2 mb-2">
                                <div class="h-100 d-flex align-items-center justify-content-center quantity-block">
                                    <div class="quantity-minus">
                                        <img src="img/minus.png" alt="">
                                    </div>
                                    <input type="text" value="1">
                                    <div class="quantity-plus">
                                        <img src="img/plus.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-lg-2 mb-2">
                                <div class="item-total-price">1280,00 <i class="fas fa-ruble-sign"></i>
                                </div>
                            </div>
                            <div class="col-2 col-lg-1 mb-2">
                                <button class="btn">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>

                        </div>
                        <!-- end repeat block -->

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>