<div class="modal fade" id="modal-all" tabindex="-1" role="dialog" aria-labelledby="modal-all" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Производители</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="input-group my-4">
                        <input type="text" class="form-control" id="list-search" placeholder="Поиск..." aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-search" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                
                <div class="responsive-column" id="items-list">

                    <a href="#">ООО "Белёвские Сладости"</a>
                    <a href="#">Компания "Конти"</a>
                    <a href="#">ООО "Дело вкуса"</a>
                    <a href="#">ЗАО Егорьевский хлебокомбинат</a>
                    <a href="#">Кондитерская фабрика "Акконд"</a>
                    <a href="#">Кондитерская фабрика "Славянка"</a>
                    <a href="#">Азовская кондитерская фабрика</a>
                    <a href="#">ООО Лакомства для здоровья</a>
                    <a href="#">Объединенные кондитеры - РотФронт</a>
                    <a href="#">Раменский кондитерский комбинат</a>

                    <a href="#">ООО "Белёвские Сладости"</a>
                    <a href="#">Компания "Конти"</a>
                    <a href="#">ООО "Дело вкуса"</a>
                    <a href="#">ЗАО Егорьевский хлебокомбинат</a>
                    <a href="#">Кондитерская фабрика "Акконд"</a>
                    <a href="#">Кондитерская фабрика "Славянка"</a>
                    <a href="#">Азовская кондитерская фабрика</a>
                    <a href="#">ООО Лакомства для здоровья</a>
                    <a href="#">Объединенные кондитеры - РотФронт</a>
                    <a href="#">Раменский кондитерский комбинат</a>

                    <a href="#">ООО "Белёвские Сладости"</a>
                    <a href="#">Компания "Конти"</a>
                    <a href="#">ООО "Дело вкуса"</a>
                    <a href="#">ЗАО Егорьевский хлебокомбинат</a>
                    <a href="#">Кондитерская фабрика "Акконд"</a>
                    <a href="#">Кондитерская фабрика "Славянка"</a>
                    <a href="#">Азовская кондитерская фабрика</a>
                    <a href="#">ООО Лакомства для здоровья</a>
                    <a href="#">Объединенные кондитеры - РотФронт</a>
                    <a href="#">Раменский кондитерский комбинат</a>

                    <a href="#">ООО "Белёвские Сладости"</a>
                    <a href="#">Компания "Конти"</a>
                    <a href="#">ООО "Дело вкуса"</a>
                    <a href="#">ЗАО Егорьевский хлебокомбинат</a>
                    <a href="#">Кондитерская фабрика "Акконд"</a>
                    <a href="#">Кондитерская фабрика "Славянка"</a>
                    <a href="#">Азовская кондитерская фабрика</a>
                    <a href="#">ООО Лакомства для здоровья</a>
                    <a href="#">Объединенные кондитеры - РотФронт</a>
                    <a href="#">Раменский кондитерский комбинат</a>

                    <a href="#">ООО "Белёвские Сладости"</a>
                    <a href="#">Компания "Конти"</a>
                    <a href="#">ООО "Дело вкуса"</a>
                    <a href="#">ЗАО Егорьевский хлебокомбинат</a>
                    <a href="#">Кондитерская фабрика "Акконд"</a>
                    <a href="#">Кондитерская фабрика "Славянка"</a>
                    <a href="#">Азовская кондитерская фабрика</a>
                    <a href="#">ООО Лакомства для здоровья</a>
                    <a href="#">Объединенные кондитеры - РотФронт</a>
                    <a href="#">Раменский кондитерский комбинат</a>

                    <a href="#">ООО "Белёвские Сладости"</a>
                    <a href="#">Компания "Конти"</a>
                    <a href="#">ООО "Дело вкуса"</a>
                    <a href="#">ЗАО Егорьевский хлебокомбинат</a>
                    <a href="#">Кондитерская фабрика "Акконд"</a>
                    <a href="#">Кондитерская фабрика "Славянка"</a>
                    <a href="#">Азовская кондитерская фабрика</a>
                    <a href="#">ООО Лакомства для здоровья</a>
                    <a href="#">Объединенные кондитеры - РотФронт</a>
                    <a href="#">Раменский кондитерский комбинат</a>

                </div>             

            </div>
<!--             
            <div class="modal-footer">
                <nav class="d-flex justify-content-end" aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link clr-gray" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link clr-gray" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
             -->
        </div>
    </div>
</div>