<div class="modal fade" id="modal-region" tabindex="-1" role="dialog" aria-labelledby="modal-region" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Укажите ваш город</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="column">
                    <li>
                        <a href="#">Москва</a>
                    </li>
                    <li>
                        <a href="#">Екатеринбург</a>
                    </li>
                    <li>
                        <a href="#">Казань</a>
                    </li>
                    <li>
                        <a href="#">Владимир</a>
                    </li>
                    <li>
                        <a href="#">Липецк</a>
                    </li>
                    <li>
                        <a href="#">Тюмень</a>
                    </li>
                    <li>
                        <a href="#">Архангельск</a>
                    </li>
                    <li>
                        <a href="#">Тула</a>
                    </li>
                    <li>
                        <a href="#">Нижний Новгород</a>
                    </li>
                    <li>
                        <a href="#">Рязань</a>
                    </li>
                    <li>
                        <a href="#">Иваново</a>
                    </li>
                    <li>
                        <a href="#">Уфа</a>
                    </li>
                    <li>
                        <a href="#">Ульяновск</a>
                    </li>
                    <li>
                        <a href="#">Пермь</a>
                    </li>
                </ul>

                <a class="d-block text-right" data-toggle="collapse" href="#collapseRegion" aria-expanded="false" aria-controls="collapseRegion">
                    Показать еще
                </a>

                <div class="collapse" id="collapseRegion">

                    <form action="">
                        <div class="input-group my-4">
                            <input type="text" class="form-control" id="search" placeholder="Начните вбивать название города" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="column">
                        <li>
                            <a href="#">Анжеро-Судженск</a>
                        </li>
                        <li>
                            <a href="#">Астрахань</a>
                        </li>
                        <li>
                            <a href="#">Барнаул</a>
                        </li>
                        <li>
                            <a href="#">Белгород</a>
                        </li>
                        <li>
                            <a href="#">Благовещенск</a>
                        </li>
                        <li>
                            <a href="#">Брянск</a>
                        </li>
                        <li>
                            <a href="#">Волгоград</a>
                        </li>
                        <li>
                            <a href="#">Волгореченск</a>
                        </li>
                        <li>
                            <a href="#">Вологда</a>
                        </li>
                        <li>
                            <a href="#">Воронеж</a>
                        </li>
                        <li>
                            <a href="#">Горно-Алтайск</a>
                        </li>
                        <li>
                            <a href="#">Десногорск</a>
                        </li>
                        <li>
                            <a href="#">Зеленогорск</a>
                        </li>
                        <li>
                            <a href="#">Ижевск</a>
                        </li>
                        <li>
                            <a href="#">Иркутск-45</a>
                        </li>
                        <li>
                            <a href="#">Йошкар-Ола</a>
                        </li>
                        <li>
                            <a href="#">Калуга</a>
                        </li>
                        <li>
                            <a href="#">Котовск</a>
                        </li>
                        <li>
                            <a href="#">Краснодар</a>
                        </li>
                        <li>
                            <a href="#">Курск</a>
                        </li>
                        <li>
                            <a href="#">Новосибирск</a>
                        </li>
                        <li>
                            <a href="#">Омск</a>
                        </li>
                        <li>
                            <a href="#">Оренбург</a>
                        </li>
                        <li>
                            <a href="#">Пенза</a>
                        </li>
                        <li>
                            <a href="#">Псков</a>
                        </li>
                        <li>
                            <a href="#">Ростов-на-Дону</a>
                        </li>
                        <li>
                            <a href="#">Самара</a>
                        </li>
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                        <li>
                            <a href="#">Саранск</a>
                        </li>
                        <li>
                            <a href="#">Саратов</a>
                        </li>
                        <li>
                            <a href="#">Тверь</a>
                        </li>
                        <li>
                            <a href="#">Томск</a>
                        </li>
                        <li>
                            <a href="#">Улан-Удэ</a>
                        </li>
                        <li>
                            <a href="#">Ханты-Мансийск</a>
                        </li>
                        <li>
                            <a href="#">Челябинск</a>
                        </li>
                        <li>
                            <a href="#">Ярославль</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>