<div id="menu" class="py-4">
    <nav class="nav flex-column" id="offcanvas-menu">
        <a class="nav-link" href="#">О компании</a>
        <a class="nav-link" href="#">Доставка и оплата</a>
        <a class="nav-link" href="#">Как сделать заказ</a>
        <a class="nav-link" href="#">Поставщикам и производителям</a>
        <a class="nav-link" href="#">Вход/Регистрация</a>
        <div class="dropdown-divider"></div>
        <a class="nav-link collapsed" href="#submenu-cat" data-toggle="collapse" data-target="#submenu-cat"><b>Каталог</b></a>
        <div class="collapse" id="submenu-cat" aria-expanded="false">
            <nav class="nav flex-column pl-2">
                <a class="nav-link" href="#">Кондитерские изделия</a>
                <a class="nav-link" href="#">Бакалея</a>
                <a class="nav-link" href="#">Чай, кофе, какао</a>
                <a class="nav-link" href="#">Вода, напитки, соки</a>
                <a class="nav-link" href="#">Консервация</a>
                <a class="nav-link" href="#">Товары для животных</a>
                <a class="nav-link" href="#">Молочные продукты, сыры, яйцо</a>
                <a class="nav-link" href="#">Мясо, птица, рыба, гастрономия</a>
                <a class="nav-link" href="#">Замороженные продукты</a>
                <a class="nav-link" href="#">Детское питание и товары для детей</a>
                <a class="nav-link" href="#">Овощи, фрукты, зелень</a>
                <a class="nav-link" href="#">Бытовая химия, товары для дома, красоты и здоровья</a>
            </nav>
        </div>
    </nav>   
</div>