body {
    width: 100%;
    height: 100%;
}

h1 {
    @include font-size(4rem); //rfs
}
.clr-gray {
    color: $ok-gray;
}
.clr-yellow {
    color: $ok-yellow;
}
.bg-light-gray {
    background-color: $ok-light-gray;
}
.bg-light-blue {
    background-color: $ok-light-blue;
}

/* https://github.com/Mango/slideout */  
.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}
  
.slideout-menu {
    &-left {
        left: 0;
    }
    &-right {
        right: 0;        
    }
}
  
.slideout-panel {
    position: relative;
    z-index: 1;
    // will-change: transform;
    background-color: #fff; /* A background-color is required */
    min-height: 100vh;
}
  
.slideout-open {
    &,
    body,
    .slideout-panel {
        overflow: hidden;
    }
}

.slideout-open .slideout-menu {
    display: block;
}
.slideout-panel {
    &:before {
        content: '';
        display: block;
        background-color: rgba(0,0,0,0);
        transition: background-color 0.5s ease-in-out;
    }
}
.panel-open {
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 1050;
    }
}
#offcanvas-menu {
    .nav-link {
        color: $ok-dark-gray;
        font-size: 1.125rem;
        line-height: 1;
        &[data-toggle] {
            &:after {
                font-family: 'Font Awesome\ 5 Free';
                font-weight: 900;
                vertical-align: middle;
                margin-left: .5rem;
                color: $ok-blue;
            }
            &.collapsed:after {
                content: "\f107";
            }
            &:not(.collapsed):after {
                content: "\f106";
            }
        }

    }
}
/*sticky header position*/
.sticky {
    &.is-sticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: #fff;
    }
}

// header
.top-menu-line {
    background-color: $ok-light-gray;
}
.region-change {
    a {
        color: $ok-blue;
        &:hover {
            text-decoration: none;
        }
        i {
            color: $ok-dark-gray;
        }
    }
}
#top-menu {
    .nav-link {
        padding: .5rem .5rem;
        font-size: 0.875rem;
        color: $ok-gray;
    }
}
.phone-top {
    display: block;    
    color: #000;
    font-weight: bold;
    font-size: 0.875rem;
    padding: .5rem 0;
    white-space: nowrap;    
    text-align: right;  
    &:hover {
        color: #000;
        text-decoration: none;        
    }
}
//top search
#search, #search-mobile {
    border-right: 1px solid transparent;       
}
.btn-search {
    border-radius: 10px;
    border: 1px solid $ok-green;
    background-color: $ok-green;
    border-left: 1px solid transparent;
    color: #fff;
    &:hover {
        color: #fff;
    }
}
// header icons
.btn-cart {
    border-radius: 30px;
    background-color: $ok-light-green;
    color: $ok-green;
    font-size: 1rem;
    &:hover {
        background-color: $ok-green;
        color: #fff;
    }
}
.btn-user {
    background-color: $ok-light-blue;
    color: $ok-blue; 
    border-radius: 50%;
    &:hover {
        background-color: $ok-blue;
        color: #fff;        
    }
}
.main-menu-line {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    -webkit-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
}
// catalog menu
.btn-catalog {
    background-color: $ok-light-blue;
    font-weight: bold;
    color: $ok-blue;
    border-radius: 40px;
    &:hover, &:focus {
        background-color: $ok-blue;
        color: #fff; 
    }
}
.dropdown-menu {
    .dropdown-item {
        color: $ok-dark-gray;
    }
}
#main-menu {
    .nav-link {
        font-size: 1rem;
        color: $ok-dark-gray;
        &:hover {
            color: #000;
        }
        .percent {
            background-color: $ok-yellow;
            border-radius: 50%;
            padding: .25em .4em;
        }
    }    
}
// footer
#footer {
    background-color: $ok-light-gray;
    .nav {
        font-size: 1rem;
        .nav-link {
            font-size: 1rem;
            line-height: 1;
            color: $ok-dark-gray;
        }
        &.bottom-nav {
            .nav-link {
                font-size: 0.875rem;
                color: $ok-gray;
            }
        }      
    }
    .border-top {
        border-top: 1px solid $ok-gray!important;  
    }  
    .social-block {
        a {
            padding-left: 1rem;
            font-size: 2rem;
            color: $ok-dark-gray;
            &:hover {
                text-decoration: none;
            }
            &.fa-vk:hover {
                color: #5181b8;
            }
            &.fa-facebook:hover {
                color: #3b5998;
            }
        }
    }
}

// breadcrumb
.breadcrumb {
    .breadcrumb-item {
        font-size: 0.6875rem;
        a {
            color: $ok-gray;
        }
    }
}

// content
.title {
    @include font-size(1.5rem);
    color: $ok-dark-gray;
    span {
        @include font-size(1rem); 
        color: $ok-gray;          
    }
}
.sub-title {
    @include font-size(1.25rem);
    color: $ok-dark-gray;
}

// buttons
.btn-primary {
    color: #fff!important;
    text-transform: uppercase;    
    @include button-variant($ok-blue, $ok-blue, $ok-light-blue, $ok-blue, $ok-light-blue, $ok-light-blue);
    @include hover {
        color: $ok-blue!important;
    }
    span {
        text-transform: lowercase;
        font-size: 0.875rem;
    }
}
.btn-primary-inverse {
    color: $ok-blue!important;
    text-transform: uppercase;    
    @include button-variant($ok-light-blue, $ok-light-blue, $ok-blue, $ok-light-blue, $ok-blue, $ok-blue);
    @include hover {
        color: #fff!important;
    }
    span {
        text-transform: lowercase;
        font-size: 0.875rem;
    }
}
.btn-secondary {
    color: #fff!important;
    text-transform: uppercase;
    @include button-variant($ok-green, $ok-green, $ok-light-green, $ok-green, $ok-light-green, $ok-light-green);
    @include hover {
        color: $ok-green!important;
    }
}
.btn-secondary-inverse {
    color: $ok-green!important;
    text-transform: uppercase;
    @include button-variant($ok-light-green, $ok-light-green, $ok-green, $ok-light-green, $ok-green, $ok-green);
    @include hover {
        color: #fff!important;
    }
}
.btn-more {
    color: $ok-gray!important;
    @include button-variant($ok-light-gray, $ok-light-gray, $ok-gray, $ok-light-gray, $ok-gray, $ok-gray);
    @include hover {
        color: #fff!important;
    }
}

// navs
.nav-links {
    .nav-link {
        color: $ok-gray;
        font-size: 1.5rem;
        padding: 0;
        margin-right: 1.5rem;
        &:hover {
            color: $ok-dark-gray;
        }
        span {
            font-size: 1rem;
            color: $ok-gray;
        }
    }
    .nav-link.active,
    .show > .nav-link {
        color: $ok-dark-gray;
        border-bottom: 2px solid $ok-gray;
    }
}

// *************
// category page
// *************
.top-banner {
    background-color: $ok-light-gray;
    height: 150px;
}
.category-sorting-block {
    .left-block {
        span {
            color: $ok-gray;            
        }
    }
    .right-block {
        a {
            font-size: 1rem;
            color: $ok-gray;
            &:after {
                font-family: 'Font Awesome\ 5 Free';
                font-weight: 900;
                margin-left: .5rem;
                content: "\f107";
            }
            &:hover {
                text-decoration: none;
            }                    
        }        
    }
}
// card
.product-card-new {
    .card-header {
        background-color: $ok-light-gray;
        color: $ok-gray;
        font-size: 0.875rem;
        text-align: right;
        padding: .2rem;
        border-bottom: none;
    }
    .card-image-link {
        display: block;
        position: relative;
        .card-label-top {
            position: absolute;
            top: 1rem;
            right: 0;
            background-color: red;
            display: flex;
            align-items: center;
            color: #fff;
            padding: .2rem 1.5rem .2rem 1.5rem;
            border-top-left-radius: 1.25rem;
            border-bottom-left-radius: 1.25rem;
            span {
                font-size: 1.125rem;
                font-weight: bold;
            }
        }
        .card-label-bottom {
            position: absolute;
            bottom: 1rem;
            right: 0;
            background-color: $ok-light-blue;
            display: flex;
            align-items: center;
            color: $ok-blue;
            padding: .2rem .5rem .2rem .5rem;
            border-top-left-radius: 1.25rem;
            border-bottom-left-radius: 1.25rem;
            span {
                font-size: 0.75rem;
                font-weight: bold;
            }
        }
    }
    .card-body {
        .card-title {
            font-size: 1rem;
            line-height: 1;
            color: $ok-dark-gray;
            margin-bottom: .5rem;
        }
        .card-text {
            font-size: 0.875rem;
            line-height: 1;        
            color: $ok-gray;
        }        
    }
    .card-footer {
        background-color: transparent;
        border-top: none;
        padding-top: 0;
        .card-price {
            display: flex;
            align-items: center;
            .old-price {
                span {
                    font-size: 1.125rem;
                    color: $ok-gray;
                    text-decoration: line-through;                
                }
            }
            .new-price {
                span {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: red;           
                }
                span+span {
                    font-size: 0.875rem;
                    color: $ok-gray;             
                }
            }
        }      
    }
    &:hover {
        .card-header {
            background-color: $ok-green;
            color: #fff;
        }
    }
}

// *******************
// product detail page
// *******************
.block-primary {
    display: inline-block;
    font-size: 1.125rem;
    background-color: $ok-light-green;
    color: $ok-green;
    padding: .5rem;
}
.block-secondary {
    display: block;    
    font-size: 1rem;
    background-color: $ok-light-gray;
    color: $ok-gray;
    padding: .5rem;
    b {
        color: $ok-dark-gray;
        font-weight: normal;
    }
}
.block-ternary {
    display: inline-block;
    font-size: 1rem;
    background-color: #fff;
    color: $ok-dark-gray;
    border: 1px solid $border-color;
    padding: 1rem;
    p {
        margin-bottom: 0;
    }
    a {
        color: $ok-gray;
    }
}
.status-block {
    span, a {
        font-size: 0.75rem;        
        color: $ok-gray;
        white-space: nowrap;
        margin-right: 1rem;
    }
}
.star-rating {
    i {
        color: $ok-yellow;        
    }
}
.price-block {
    .price-box {
        font-size: 0.875rem;    
        .price {
            color: $ok-gray;
        }
        .saving-price {
            color: $ok-blue;
            font-weight: bold;
            padding-left: .5rem;
        }
    }
    .price-item {
        .new-price {
            font-size: 1.5rem;
            background-color: $ok-light-gray;       
            color: $ok-dark-gray;
            padding: .5rem;
            span {
                font-size: 1rem;
            }
        }
        .old-price {
            font-size: 1.125rem;
            color: $ok-gray;
            text-decoration: line-through;
            padding: .5rem;
            span {
                font-size: .875rem;
            }
        }
    }    
}
.like-price-block {
    color: $ok-dark-gray;
    font-size: 1.125rem;
    .fa-thumbs-up {
        color: $ok-gray;
        &:hover {
            color: $ok-green;
        }
    }
    .fa-thumbs-down {
        color: $ok-gray;
        &:hover {
            color: red;
        }
    }
}
.delivery-block {
    .pickup-block {
        color: $ok-gray;
    }
    .delivery-select {
        color: $ok-gray;
    }
}
.specification-block {
    font-size: 0.875rem;
    line-height: 1;
    tr {
        td {
            color: $ok-dark-gray;
            vertical-align: top;
            padding-bottom: 1rem;
        }
        td+td {
            color: $ok-gray;
        }
    }
}
.provider-block {
    background-color: $ok-light-gray;    
    .provider-item {
        .price-item {
            color: $ok-gray;
        }    
        .price-box {
            color: $ok-dark-gray;
        }        
    }

}


.mini-product-card {
    border-color: transparent;
    .card-body {
        padding-top: .5rem;
        padding-bottom: 0;
        .card-title {
            font-size: 0.875rem;
            line-height: 1;
            color: $ok-dark-gray;
        }   
    }
    .card-footer {
        background-color: transparent;
        border-top: none;
        padding-top: 0;
        padding-bottom: 0;        
        .card-price {
            display: inline-block;
            .price-item {
                white-space: nowrap;
                color: $ok-dark-gray;                 
                span {
                    font-size: 1.125rem;        
                }
                span+span {
                    font-size: 0.875rem;
                }
            }
            .price-box {
                white-space: nowrap;
                color: $ok-gray;                
                span {
                    font-size: 0.875rem;             
                }
                span+span {
                    font-size: 0.75rem;      
                }
            }            
        }         
    }

}
.w285 {
    width: 285px;
}



// **************
// action-premium
// **************

// sidebar
#catalog-nav {
    .nav-item {
        .nav-link {
            color: $ok-dark-gray;
            font-size: 1.125rem;
            line-height: 1;
            &[data-toggle] {
                &:after {
                    font-family: 'Font Awesome\ 5 Free';
                    font-weight: 900;
                    vertical-align: middle;
                    margin-left: .5rem;
                    color: $ok-blue;
                }
                &.collapsed:after {
                    content: "\f107";
                }
                &:not(.collapsed):after {
                    content: "\f106";
                }
            }
        }
        .filter {
            padding: 0 1rem;
            .form-group {
                margin: .5rem 0;
            }
        }                
    }
}
.info-prem-block {
    h3 {
        font-size: 1.125rem;
        line-height: 1;
    }
    .in {
        div {
            margin: 0 1.5rem;
            span {
                display: block;
                color: $ok-blue;
                font-size: 1.875rem;
                line-height: 1;                
            }
            span+span {
                display: block;
                font-size: 1rem;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .info-prem-block {
        .in {
            div {
                margin: 0 .5rem;
                span {
                    font-size: 1rem;           
                }
                span+span {
                    font-size: 0.875rem;
                }                
            }
        }    
    }
}

.sorting-block {
    a {
        padding: 1rem 0;
        &:after {
            font-family: 'Font Awesome\ 5 Free';
            vertical-align: middle;
            font-weight: 900;
            margin-left: .5rem;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .left-block {
        a {
            font-size: 1rem;
            color: $ok-dark-gray;
            margin-right: 1.5rem;
            &:after {
                content: "\f107";
            }           
        }        
    }
    .right-block {
        a {
            font-size: 0.875rem;
            color: $ok-gray;
            &:after {
                content: "\f107";
            }           
        }        
    }
}
.info-prem-block {
    h3 {
        font-size: 1.5rem;
    }
}
.subscribe-block {
    background-color: $ok-light-blue;
    h3 {
        font-size: 1.25rem;
    }
}

// card
.product-card {
    .card-header {
        background-color: $ok-yellow;
        color: #000;
        font-size: 0.875rem;
        padding: 0 .5rem;
        border-bottom: none;
    }
    .card-involved {
        color: $ok-gray;
        font-size: 0.75rem;
        padding: .5rem;
    }
    .card-image-link {
        display: block;
        position: relative;
        .card-label {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $ok-yellow;
            display: flex;
            align-items: center;
            color: #000;
            padding: .2rem 0 .2rem .5rem;
            border-top-left-radius: 1.25rem;
            border-bottom-left-radius: 1.25rem;
            span {
                font-size: 1.125rem;
                font-weight: bold;
                margin-right: .5rem;
            }
            span+span {
                font-size: 0.625rem;
                line-height: 1;
            }
        }
    }
    .card-body {
        .card-title {
            font-size: 1rem;
            line-height: 1;
            color: $ok-dark-gray;
            margin-bottom: .5rem;
        }
        .card-text {
            font-size: 0.875rem;
            line-height: 1;        
            color: $ok-gray;
        }        
    }
    .card-footer {
        background-color: transparent;
        border-top: none;
        .card-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .old-price {
                white-space: nowrap;
                span {
                    font-size: 1.125rem;
                    color: $ok-gray;
                    text-decoration: line-through;                
                }
                span+span {
                    font-size: 0.875rem;
                    color: $ok-gray; 
                    text-decoration: none;            
                }
            }
            .new-price {
                white-space: nowrap;
                span {
                    font-size: 1.5rem;
                    color: $ok-blue;           
                }
                span+span {
                    font-size: 0.875rem;
                    color: $ok-gray;             
                }
            }
        }
        .note {
           font-size: 0.875rem;
           color: $ok-gray; 
        }        
    }

}
.category-card {
    display: block;
    border-color: transparent;
    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $ok-light-gray;
        .card-title {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1;
            color: $ok-gray;
        }
        .card-text {
            font-size: 1.125rem;
            line-height: 1;
            color: $ok-gray;
        }
        img {
            padding: 1.5rem 0;
        }     
    }
    .card-footer {
        font-size: 1rem;
        // font-weight: bold;
        text-align: center;
        border-top: none;
        color: #fff;
        background-color: $ok-gray;
        padding: 0 .5rem;
    }
    &:hover {
        text-decoration: none;
        .card-footer {
            background-color: $ok-green;            
        }
    }
}
// premium detail card
/* .block-primary {
    display: inline-block;
    font-size: 1.125rem;
    background-color: $ok-light-green;
    color: $ok-green;
    padding: .5rem;
}
.block-secondary {
    display: block;    
    font-size: 1rem;
    background-color: $ok-light-gray;
    color: $ok-gray;
    padding: .5rem;
    b {
        color: $ok-dark-gray;
        font-weight: normal;
    }
}
.block-ternary {
    display: inline-block;
    font-size: 1rem;
    background-color: #fff;
    color: $ok-dark-gray;
    border: 1px solid $border-color;
    padding: 1rem;
    p {
        margin-bottom: 0;
    }
    a {
        color: $ok-gray;
    }
}
.status-block {
    span, a {
        font-size: 0.75rem;        
        color: $ok-gray;
        white-space: nowrap;
        margin-right: 1rem;
    }
}
.star-rating {
    i {
        color: $ok-yellow;        
    }
}
.price-block {
    .price-box {
        font-size: 0.875rem;    
        .new-price {
            color: $ok-dark-gray;
        }
        .old-price {
            color: $ok-gray;
            text-decoration: line-through;
        }
    }
    .price-item {
        .new-price {
            font-size: 1.5rem;            
            color: $ok-green;
        }
        .old-price {
            font-size: 1.125rem;
            color: $ok-dark-gray;
            background-color: $ok-light-gray;
            text-decoration: line-through;
            padding: .5rem;
        }
    }    
}
.specification-block {
    font-size: 0.875rem;
    line-height: 1;
    tr {
        td {
            color: $ok-dark-gray;
            vertical-align: top;
            padding-bottom: 1rem;
        }
        td+td {
            color: $ok-gray;
        }
    }
}
.mini-product-card {
    border-color: transparent;
    .card-body {
        padding-top: .5rem;
        padding-bottom: 0;
        .card-title {
            font-size: 0.875rem;
            line-height: 1;
            color: $ok-dark-gray;
        }   
    }
    .card-footer {
        background-color: transparent;
        border-top: none;
        padding-top: 0;
        padding-bottom: 0;        
        .card-price {
            display: inline-block;
            .price-item {
                white-space: nowrap;
                color: $ok-dark-gray;                 
                span {
                    font-size: 1.125rem;        
                }
                span+span {
                    font-size: 0.875rem;
                }
            }
            .price-box {
                white-space: nowrap;
                color: $ok-gray;                
                span {
                    font-size: 0.875rem;             
                }
                span+span {
                    font-size: 0.75rem;      
                }
            }            
        }         
    }

}
.w285 {
    width: 285px;
} */

// FIX IT!!!
.modal-content h1 {
    font-size: 1.5rem;
    line-height: 1;
}
/* modal registration */
.right-modal {
    background-color: #f6f6f6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#modal-registration .form-control {
    text-align: center;
    margin-bottom: 1rem;
}

.btn-form {
    margin: 0 auto;
    font-size: 1.25rem;
    background-color: #90de23;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    border: 2px solid #90de23;
}
.btn-form:hover {
    color: #90de23;
    background-color: #f1fae8;
    border: 2px solid #90de23;
}

/* modal region */
#modal-region .column {
    padding: 0;
    list-style: none;
    column-count: 3;
}
#modal-region .column a {
    display: block;
    font-size: 0.875rem;
    padding: .25rem 0;
    color: #000;
}
#modal-region .column a:hover {
    /* color: #000; */
}