body {
    width: 100%;
    height: 100%;
}

h1 {
    @include font-size(4rem); //rfs
}
.clr-gray {
    color: $ok-gray;
}

/* https://github.com/Mango/slideout */  
.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}
  
.slideout-menu {
    &-left {
        left: 0;
    }
    &-right {
        right: 0;        
    }
}
  
.slideout-panel {
    position: relative;
    z-index: 1;
    // will-change: transform;
    background-color: #fff; /* A background-color is required */
    min-height: 100vh;
}
  
.slideout-open {
    &,
    body,
    .slideout-panel {
        overflow: hidden;
    }
}

.slideout-open .slideout-menu {
    display: block;
}
.slideout-panel {
    &:before {
        content: '';
        display: block;
        background-color: rgba(0,0,0,0);
        transition: background-color 0.5s ease-in-out;
    }
}
.panel-open {
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0,.7);
        z-index: 1050;
    }
}
/*sticky header position*/
.sticky {
    &.is-sticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: #fff;
    }
}

// header
.top-menu-line {
    background-color: $ok-light-gray;
}
#top-menu {
    .nav-link {
        padding: .5rem .5rem;
        font-size: 0.875rem;
        color: $ok-gray;
    }
}
.phone-top {
    display: block;    
    color: #000;
    font-weight: bold;
    font-size: 0.875rem;
    padding: .5rem 0;
    white-space: nowrap;    
    text-align: right;  
    &:hover {
        color: #000;
        text-decoration: none;        
    }
}
//top search
#search, #search-mobile {
    border-right: 1px solid transparent;       
}
.btn-search {
    border-radius: 10px;
    border: 1px solid $ok-green;
    background-color: $ok-green;
    border-left: 1px solid transparent;
    color: #fff;
    &:hover {
        color: #fff;
    }
}
// header icons
.btn-cart {
    border-radius: 30px;
    background-color: $ok-light-green;
    color: $ok-green;
    font-size: 1rem;
    &:hover {
        background-color: $ok-green;
        color: #fff;
    }
}
.btn-user {
    background-color: $ok-light-blue;
    color: $ok-blue; 
    border-radius: 50%;
    &:hover {
        background-color: $ok-blue;
        color: #fff;        
    }
}
.main-menu-line {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    -webkit-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
}
// catalog menu
.btn-catalog {
    background-color: $ok-light-blue;
    font-weight: bold;
    color: $ok-blue;
    border-radius: 40px;
    &:hover, &:focus {
        background-color: $ok-blue;
        color: #fff; 
    }
}
.dropdown-menu {
    .dropdown-item {
        color: $ok-dark-gray;
    }
}
#main-menu {
    .nav-link {
        font-size: 1rem;
        color: $ok-dark-gray;
        &:hover {
            color: #000;
        }
        .percent {
            background-color: $ok-yellow;
            border-radius: 50%;
            padding: .25em .4em;
        }
    }    
}
// footer
#footer {
    background-color: $ok-light-gray;
    .nav {
        font-size: 1rem;
        .nav-link {
            font-size: 1rem;
            color: $ok-dark-gray;
        }
        &.bottom-nav {
            .nav-link {
                font-size: 0.875rem;
                color: $ok-gray;
            }
        }      
    }
    .border-top {
        border-top: 1px solid $ok-gray!important;  
    }  
    .social-block a {
        color: $ok-gray;
        font-size: 2rem;
        &:hover {
            text-decoration: none;
            color: $ok-dark-gray;
        }
    }
}

.breadcrumb {
    .breadcrumb-item {
        font-size: 0.6875rem;
    }
}

// content
.title {
    @include font-size(1.5rem);
    color: $ok-dark-gray;
}
.sub-title {
    @include font-size(1.25rem);
    color: $ok-dark-gray;
}

// buttons
.btn-primary {
    color: #fff!important;
    text-transform: uppercase;    
    @include button-variant($ok-blue, $ok-blue, $ok-light-blue, $ok-blue, $ok-light-blue, $ok-light-blue);
    @include hover {
        color: $ok-blue!important;
    }
    span {
        text-transform: lowercase;
        font-size: 0.875rem;
    }
}
.btn-primary-inverse {
    color: $ok-blue!important;
    text-transform: uppercase;    
    @include button-variant($ok-light-blue, $ok-light-blue, $ok-blue, $ok-light-blue, $ok-blue, $ok-blue);
    @include hover {
        color: #fff!important;
    }
    span {
        text-transform: lowercase;
        font-size: 0.875rem;
    }
}
.btn-secondary {
    color: #fff!important;
    text-transform: uppercase;
    @include button-variant($ok-green, $ok-green, $ok-light-green, $ok-green, $ok-light-green, $ok-light-green);
    @include hover {
        color: $ok-green!important;
    }
}
.btn-secondary-inverse {
    color: $ok-green!important;
    text-transform: uppercase;
    @include button-variant($ok-light-green, $ok-light-green, $ok-green, $ok-light-green, $ok-green, $ok-green);
    @include hover {
        color: #fff!important;
    }
}

// .btn-ok-gray {
//     color: $ok-gray;
//     background-color: $ok-light-gray;
//     border-radius: 1.25rem;
//     @include hover {
//         color: #fff;
//         background-color: $ok-green;
//         text-decoration: none;
//     } 
//     &:focus,
//     &.focus {
//         color: #fff;
//         background-color: $ok-green;
//         text-decoration: none;
//         box-shadow: none;
//     }
// }

// action-premium
#catalog-nav .nav-link[data-toggle].collapsed:after {
    content: "▾";
}
#catalog-nav .nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}


.subscribe-block {
    background-color: $ok-light-blue;
}
