body {
    width: 100%;
    height: 100%;
}

h1 {
    // @include font-size(4rem); //rfs
}

/* https://github.com/Mango/slideout */  
.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    // background-color: $ok-light-gray;
    z-index: 0;
    display: none;
}
  
.slideout-menu {
    &-left {
        left: 0;
    }
    &-right {
        right: 0;        
    }
}
  
.slideout-panel {
    position: relative;
    z-index: 1;
    // will-change: transform;
    background-color: #fff; /* A background-color is required */
    min-height: 100vh;
}
  
.slideout-open {
    &,
    body,
    .slideout-panel {
        overflow: hidden;
    }
}

.slideout-open .slideout-menu {
    display: block;
}
.slideout-panel {
    &:before {
        content: '';
        display: block;
        background-color: rgba(0,0,0,0);
        transition: background-color 0.5s ease-in-out;
    }
}
.panel-open {
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0,.7);
        z-index: 1050;
    }
}
/*sticky header position*/
.sticky {
    &.is-sticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: #fff;
    }
}

// header
.main-menu-line {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    -webkit-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
}

.breadcrumb {
    .breadcrumb-item {
        font-size: 0.6875rem;
    }
}

// content
.title {
    @include font-size(1.5rem);
    color: $ok-dark-gray;
}
.sub-title {
    @include font-size(1.25rem);
    color: $ok-dark-gray;
}

// buttons
.btn-ok-blue {
    color: $ok-blue;
    background-color: $ok-light-blue;
    text-transform: uppercase;
    border-radius: 1.25rem;
    @include hover {
        color: #fff;
        background-color: $ok-blue;
        text-decoration: none;
    } 
    &:focus,
    &.focus {
        color: #fff;
        background-color: $ok-blue;
        text-decoration: none;
        box-shadow: none;
    }
    span {
        text-transform: lowercase;
        font-size: 0.875rem;
    }
}

.btn-ok-green {
    color: $ok-dark-gray;
    background-color: $ok-light-gray;
    text-transform: uppercase;
    border-radius: 1.25rem;
    @include hover {
        color: #fff;
        background-color: $ok-green;
        text-decoration: none;
    } 
    &:focus,
    &.focus {
        color: #fff;
        background-color: $ok-green;
        text-decoration: none;
        box-shadow: none;
    }
}

.btn-ok-gray {
    color: $ok-gray;
    background-color: $ok-light-gray;
    border-radius: 1.25rem;
    @include hover {
        color: #fff;
        background-color: $ok-green;
        text-decoration: none;
    } 
    &:focus,
    &.focus {
        color: #fff;
        background-color: $ok-green;
        text-decoration: none;
        box-shadow: none;
    }
}

.subscribe-block {
    background-color: $ok-light-blue;
}