// Variables

// colors
$ok-green: #90de23;
$ok-light-green: #f1fae8;
$ok-blue: #0074ff;
$ok-light-blue: #f3f9ff;
$ok-yellow: #ffe500;

$ok-light-gray: #f6f6f6; // background blocks
$ok-gray: #adadad; // light color text
$ok-dark-gray: #505050; // text

// border
$border-color: #e8e8e8;